@tailwind base;
@tailwind components;
@tailwind utilities;

a {
    @apply text-accent underline;
}

.scrollbar {
    overflow-y: auto;

    /* TODO: Style? */
}

.panel {
    @apply border-solid border-2 border-border p-2;
}

.panel-title {
    @apply py-1 px-4;
    background: linear-gradient(to right, theme('colors.border'), rgba(0,0,0,0));
}

.memoria-stone-thumb {
    clip-path: polygon(24% 0%,74% 0%,94% 51%,73% 100%,25% 100%,4% 50%);
    -webkit-clip-path: polygon(24% 0%,74% 0%,94.5% 50%,73% 100%,27% 100%,4% 50%);
}

.base-stone-padding {
    padding: 0 5.5%;
}